.jesus-image1 {
    width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

body {
    font-family: Arial, sans-serif;
    background-color: #7779177a;
    margin: 20px;
    padding: 20px;
    align-items: center;
    text-align: center;
}

.div1 {
    background-color: #f9f9f94f;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.div2 {
    background-color: #79851557;
    padding: 1px;
    border-radius: 8px;
}

.fin{
    background-color: rgba(255, 228, 196, 0.534);
    width: auto;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}
ul {
    list-style-type: none;
    padding-left: 20px;
    text-align: center;
}
button {
    background-color: #b6b30094;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}